@mixin alert-text($bgcolor: #777, $border:1px solid black ) {
	color: black;
	font-variant: small-caps;
	padding: .5rem;
	width: fit-content;
	border:$border; 
	background-color: $bgcolor;
	@content;
}

@mixin ball($bgcolor, $size) {
	background-color: $bgcolor;
	width: $size;
	height: $size;
	border-radius: 50%;
	@if $size >= 0rem {
		border: 0px;
	}
	@if $size >= 2rem {
		border: 1px solid black;
	}
	@if $size >= 4rem {
		border: 2px solid black;
	}
}