@mixin alert-text($bgcolor: #777, $border:1px solid black ) {
	color: black;
	font-variant: small-caps;
	padding: .5rem;
	width: fit-content;
	border:$border; 
	background-color: $bgcolor;
	@content;
}
